.top{
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/top__img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    margin-top: -70px;
    z-index: 1;
}
.top__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.top__title{
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-size: 75px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    text-align: center;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 330px auto 40px;
}
.scroll {
    width: 70px;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1;
    padding-bottom: 20px;
    text-align: center;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.scroll-img {
    width: 80px;
}




@media(max-width: 1280px) {
    .top__title{
        font-size: 50px;
        line-height: 1.4;
    }
}

@media(max-width: 768px) {
    .top__logo{
        margin: 150px auto 40px;
    }
    .top__title {
        font-size: 40px;
        line-height: 1.4;
    }
}

@media(max-width: 560px) {
    .top__title{
        font-size: 35px;
        line-height: 1.4;
    }
}