/******* страница News *******/
.news{
    /* background-color: #f0f0f0; */
}
.news__title{
    margin-bottom: 30px;
}
.news__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}
.news__item{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    height: 410px;
    border-radius: 5px;
}
.news__item-img{
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 30px;
    border-radius: 5px;
}
.news__item-category{
    padding: 0 30px;
    color: rgb(255, 138, 99);
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.news__item-title{
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0;
    text-align: left;

}
.news__item-date{
    padding: 0 30px;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 20px;
    margin-top: auto;
}
.news__link{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.news__link-text{
    font-size: 15px;
    line-height: 1.4;
}
.news__section{
    margin: 0 auto;
}
.news__content{
    margin: 0 auto;
}
.news__content-img{
    display: flex;
    margin: 30px auto 30px;
    max-width: 1000px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
}
.news__content-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}
.news__content-text{
    line-height: 1.3;
    text-align: justify;
}
.news__content-text + .news__content-text{
    margin-top: 20px;
}

@media(max-width: 1440px) {
    .news__item{
        height: 400px;
    }
}

@media(max-width: 1120px) {
    .news__content-img{
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .news__item {
        height: 350px;
    }
}

@media(max-width: 768px) {
    .news__items{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
    .news__item{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        height: 550px;
    }
    .news__item-category{
        padding: 0 20px;
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 8px;
    }
    .news__item-title{
        padding: 0 20px;
        font-size: 24px;
    }
    .news__item-date{
        padding: 0 20px;
        font-size: 14px;
    }
}

@media(max-width: 560px) {
    .news__item{
        height: 500px;
    }
}

@media(max-width: 480px) {
    .news__item{
        height: 400px;
    }
    .news__item-category{
        padding: 0 20px;
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 8px;
    }
    .news__item-title{
        padding: 0 20px;
        font-size: 20px;
    }
}

@media(max-width: 360px) {
    .news__item{
        height: 370px;
    }
}